<% include partials/header.ejs %>

        <!--main content -->
    <main class="container">
        <h1><%= title %></h1>
        <p>Welcome to
            <%= title %>
            . For this Midterm we have to makea page where we all say our 3 favorite people. Now im not sure if saying one of them is Tom Tsiliopoulos will help but here goes nothing.
            
        </p>
        <div class="main">
            <img src="/images/TomTheGreatest.jpg" alt="Please pray for Bonus Marks!">
            <br  />
            <p>
                Other than being one of the hardest classes we have. Some of the stuff we can do is pretty cool. For example in less than 3 hours I was able to break one of my other websites down
                and rebuild it to meet the criteria for this midterm. Not to mention it looks super cool!
                
                
            </p>
               
    </main>

<% include partials/footer.ejs %> 