<% include partials/header.ejs %>

    <!--main content -->
    <main class="container">
        <h1><%= title %></h1>
        <p>Welcome to
            <%= title %>.
        </p>
        <br />
        <p>The page where you can see and learn a little something about the role models I have in my life.</p>
        
           <!--Tag and Caption for Mario -->
        <div class="mario">
            <figure>
                <img src="/images/mario.jpg" alt="Only the greatest Character of all time!">
                <figcaption>Who doesnt love this guy?!
                    <br /> with that epic mustache and
                    <br /> hat he is always the life of
                    <br /> the party.</figcaption>
            </figure>
        </div>
           <!--Tag and Caption for Luigi-->
        <div class="luigi">
            <figure>
                <img src="/images/luigi.jpg" alt="Only the actual greatest Character of all time!">
                <figcaption>You cant have peanut butter
                    <br />without jelly! with a better
                    <br />mustache and hat he is
                    <br />the greatest to ever be
                    <br />in a game.</figcaption>
            </figure>
        </div>
           <!--Tag and Caption for Tom -->
        <div class="tom">
            <figure>
                <img src="/images/TomTheGreatest.jpg" alt="Only the actual greatest Character of all time!">
                <figcaption>The greatest web prof
                    <br />of ALL TIME!! seriously
                    <br />if you want to learn
                    <br />anything about web
                    <br />this is the guy.</figcaption>
            </figure>
        </div>

    </main>

    <% include partials/footer.ejs %>